  <div id="swiper-container-ajax" class="toto" data-component='swiper-ajax:[{"pagination":".pagination-ajax", "paginationClickable":true,"speed":300}]'>
    <div class="swiper-wrapper">
      <div class="swiper-slide red-slide">
          <div class="title">Slide 1 AJAX</div>
      </div>
      <div class="swiper-slide blue-slide">
        <div class="title">Slide 2</div>
      </div>
      <div class="swiper-slide orange-slide">
        <div class="title">Slide 3</div>
      </div>
      <div class="swiper-slide green-slide">
        <div class="title">Slide 4</div>
      </div>
      <div class="swiper-slide pink-slide">
        <div class="title">Slide 5</div>
      </div>
      <div class="swiper-slide red-slide">
        <div class="title">Slide 6</div>
      </div>
      <div class="swiper-slide blue-slide">
        <div class="title">Slide 7</div>
      </div>
      <div class="swiper-slide orange-slide">
        <div class="title">Slide 8</div>
      </div>
    </div>
    <div class="pagination-ajax"></div>
  </div>